<div class="wrapper">
  <div class="robo"><img src="assets/robo.png" /></div>
  <form [formGroup]="formGroup" *ngIf="!interacting">
    <div>
      <input type="text" placeholder="username" formControlName="username" />
    </div>
    <div>
      <input
        type="password"
        placeholder="password"
        formControlName="password"
      />
    </div>
    <div><button type="submit" (click)="login()">Login</button></div>
  </form>

  <ng-container *ngIf="interacting">
    <h2>Los gehts!</h2>
    <p class="align-center">
      Ich bin in 4 Stunden fertig. Versuche es dann erneut.
    </p>
  </ng-container>

  <ng-container *ngIf="error">
    <p>{{ error }}</p>
  </ng-container>
</div>
